# Strict ignore: Everything except what is explicitly allowed
/*

# Allow Dotfiles (needed for Vite/ESLint)
!/.gitignore
!/eslint.config.js
!/vite.config.js
!/tsconfig.json
!/tsconfig.node.json

# Allow Core Project Files
!/index.html
!/package.json
!/package-lock.json
!/progressLog.md
!/README.md
!/LICENSE

# Allow Directories needed for Build
!/public/
!/src/

# Standard Ignores (within allowed folders)
node_modules
dist
.env*
*.log
.DS_Store
.venv

# Private Backend API
src_api/
docs/
*.zip
*.7z
*.rar
